nav {
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px auto;
}
.team img {
  border: none;
  border-radius: 40px;
  width: 30%;
  padding: 20px;
}
.search {
  width: 500px;
  height: 20px;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.show-more button {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background-color: rgb(178, 116, 235);
  color: #000;
}

@media screen and (max-width: 768px) {
  .team img {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .team img {
    width: 75%;
  }
}
